* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #0F1111;

}

/* Main Colors */
:root {
    --primary-color: #283593;
    --secondary-color: #3f51b5;
    --white-color: #fff;
    --bg-color: #E1E2E1;
    --black-color: #000;

}



/* Menubar CSS Codes  */
.menubar {
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
}

.menubar ul li {
    padding: 10px;
}

.navbar-icon {
    color: var(--white-color);
}

.menubar ul li a {
    padding: 10px;
    border: none;
}



/* here section */

.hero {
    background-color: var(--bg-color);
}

.left-text h1 {
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--primary-color);
}

.left-text h2 {
    color: var(--white-color);
    text-transform: uppercase;
    background-color: var(--primary-color);
    padding: 5px 0;
    font-size: 18px;
}

.left-text p {
    text-align: left;
    font-size: 18px;
    line-height: 150%;
}

/* Calculator Starts */

.calc-card {
    background-color: var(--bg-color);
    border: var(--primary-color) solid 3px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.calc-display input[type="text"] {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
}

.btn-row {
    margin: 5px 5px 0px 5px;
}


.btn-row button {
    font-weight: bolder;
    color: var(--black-color)
}


.btn-row .btn:hover {
    background-color: var(--primary-color);
    color: var(--white-color) !important;
}

.btn-row .btn-ac {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn-row .btn-ac:hover {
    background-color: var(--primary-color);
}

/* Card of Why WE  */
.freeuse,
.easyuse {
    background-color: var(--bg-color);
    color: var(--color-dark-dark)
}

.feature-container h2 {
    font-weight: 700;
}


.feature-container h2 span {
    color: var(--primary-color);
}

/* Category Portion */
.category-icon i {
    padding: 20px;
    display: block;
    color: var(--primary-color);
}

.card-calculator-list {
    list-style: none;
    width: 100%;
}


.card-calculator-list li {
    padding: 3px 1px;
}

.card-calculator-list li i {
    color: var(--primary-color);
}


.card-calculator-list li a {
    text-decoration: none;
    font-weight: 400;
    padding: 3px;
    color: var(--black-color);
}

.card-calculator-list li a:hover {
    border-bottom: var(--secondary-color) 1px solid;
}

.category-card:nth-child(odd) .card {
    background-color: var(--bg-color);

}

.category-card .card {
    transition: box-shadow, 1s;
    margin-bottom: 20px;
}

.category-card .card:hover {
    box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.54);
}

.category-card .card-body .card-title {
    color: var(--primary-color);
    font-weight: 700;
    padding-bottom: 2px;
}

/*footer*/
.col_white_amrc {
    color: var(--white-color);
}

footer {
    width: 100%;
    background-color: var(--primary-color);
    min-height: 250px;
    padding: 10px 0px 25px 0px;
    margin-top: 5%;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: var(--white-color);
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: var(--white-color);
}

.footer_ul_amrc li a:hover {
    color: var(--white-color);
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
    color: var(--white-color);
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid var(--white-color);
    padding-bottom: 20px;
}



.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: var(--white-color);
    border: 1px solid var(--white-color);
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}


/* Single HTML */
.article-container {
    margin: 0 auto 5% auto;
}

.article-container h1 {
    font-size: 32px;
    padding: 5px 2px;
    font-weight: 800;
}

.article-container h2 {
    font-size: 28px;
    padding: 5px 2px;
    font-weight: 700;
}

.breadcrumb-item a {
    color: var(--black-color);
}


.article-container .faq-answer::before {
    content: "Answers: ";
    font-weight: bolder;
}


.article-container p {
    font-size: 18px;
    line-height: 1.8rem;
}

.article-container img {
    width: 90%;
    height: auto;
    margin: 10px auto;
    padding: 15px;
    border-radius: 8px;
}



.form-entry {
    background-color: var(--bg-color);

}

.form-entry row {
    margin: 0 auto;
}

.form-entry .btn-form {
    background-color: #283593;
    background-color: var(--primary-color);
    width: 80%;
    color: var(--white-color);

}

.calculation-form {
    border-right: var(--primary-color) solid 1px;
    padding: 2px;
}

.related {
    background-color: var(--bg-color);
    color: var(--secondary-color);
}

.related h2 {
    display: flex;
    color: var(--primary-color);
    font-weight: 700;
}

.related ul {
    list-style-type: none;
    display: inline-flex;
    width: 100%;
}

.related ul li {
    padding-right: 2%;
    align-items: center;
    justify-content: center;
}

.related ul li a {
    border-bottom: var(--primary-color) double 2px;
    text-decoration: none;
    padding-bottom: 3px;
    color: var(--primary-color);
}

.related ul li a:hover {
    border-bottom: none;
}

.related-first {
    font-weight: 800;
}

/* Admin Menu */


.admin-items,
.admin-items a,
.admin-items:hover,
.admin-items:active {
    color: var(--white-color) !important;
}

.admin-items ul {
    background-color: var(--primary-color);
}

.admin-items ul li a:hover {
    background-color: var(--secondary-color);
}

.admin-items-logout a {
    color: var(--primary-color);
    font-weight: 700;
    background-color: var(--white-color);
    border: var(--white-color) 1px solid;
    border-radius: 5px;

}

.admin-items-logout a:hover {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

/* All Author Page */
.admin-section h1 {
    font-size: 32px;
    font-weight: 800px;
    margin-bottom: 30px;
}

.admin-table img {
    width: 90px;
}

.dataTables_filter {
    margin-bottom: 13px !important;
}

#example_paginate a {
    background-color: var(--primary-color);
    margin-top: 2px !important;
    color: var(--white-color) !important;
}

#example_info {
    color: var(--primary-color);
}

/* Add Author Section */

.admin-btn {
    background-color: var(--secondary-color) !important;
    color: var(--white-color);
}

.btn-home-category {
    background-color: var(--secondary-color);
    color: var(--white-color)
}

.btn-home-category:hover {
    background-color: var(--primary-color);
    color: var(--white-color)
}