* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #0F1111;
}

/* Main Colors */
:root {

    --amazon-nav: #131921;
    --amazon-secondary: #F7F8F8;
    --amazon-buy-color: #FFA41C;
    --amazon-cart-color: #FFD814;

    /* for font size */
    --h1-size: 2em;
    --h2-size: 18px;
    --p-size: 16px;

    /* link Color */
    --link-color: #565959;
}


/* Menubar CSS Codes  */
.menubar {
    background: #283593;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
}

.menubar ul li {
    padding: 10px;
}

.navbar-icon {
    color: white;
}

.menubar ul li a {
    padding: 10px;
    border: none;
}



/* here section */

.hero {
    background-color: #E1E2E1;
}

.left-text h1 {
    text-transform: uppercase;
    font-weight: bolder;
    color: #3f51b5;
}

.left-text h2 {
    color: white;
    text-transform: uppercase;
    background-color: #3f51b5;
    padding: 5px 0;
    font-size: var(--h2-size)
}

.left-text p {
    text-align: left;
    font-size: var(--p-size);
    line-height: 150%;
}

/* Calculator Starts */

.calc-card {
    background-color: #E1E2E1;
    border: #3f51b5 solid 3px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.calc-display input[type="text"] {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    font-size: var(--p-size);
    letter-spacing: 2px;
    font-size: var(--p-size);
}

.btn-row {
    margin: 5px 5px 0px 5px;
}


.btn-row button {
    font-weight: bolder;
}


.btn-row .btn:hover {
    background-color: #001064;
    color: white !important;
}

.btn-row .btn-ac {
    background-color: #5f5fc4;
    color: white;
}

.btn-row .btn-ac:hover {
    background-color: #001064;
}

/* Card of Why WE  */
.freeuse,
.easyuse {
    background-color: #E1E2E1;
    color: var(--color-dark-dark)
}

.feature-container h2 {
    font-weight: 700;
}


.feature-container h2 span {
    color: #3f51b5;
}

/* Category Portion */
.category-icon i {
    padding: 20px;
    display: block;
    color: #3f51b5;
}

.card-calculator-list {
    list-style: none;
    width: 100%;
}


.card-calculator-list li {
    padding: 3px 1px;
}

.card-calculator-list li i {
    color: #3f51b5;
}


.card-calculator-list li a {
    text-decoration: none;
    font-weight: 400;
    padding: 3px;
    color: #0a0a0a;
}

.card-calculator-list li a:hover {
    border-bottom: #001064 1px solid;
}

.category-card:nth-child(odd) .card {
    background-color: var(--amazon-secondary);
}

.category-card .card {
    transition: box-shadow, 1s;
    margin-bottom: 20px;
}

.category-card .card:hover {
    box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.54);
}

.category-card .card-body .card-title {
    color: var(--color-dark-dark);
    font-weight: 700;
    padding-bottom: 2px;
}

/*footer*/
.col_white_amrc {
    color: white;
}

footer {
    width: 100%;
    background-color: #283593;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
    margin-top: 5%;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: white;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: white;
}

.footer_ul_amrc li a:hover {
    color: white;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
    color: white;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}



.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: white;
    border: 1px solid white;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}


/* Single HTML */
.article-container {
    margin: 0 auto 5% auto;
}

.article-container h1 {
    font-size: 32px;
    padding: 5px 2px;
    font-weight: 800;
}

.article-container h2 {
    font-size: 28px;
    padding: 5px 2px;
    font-weight: 700;
}

.breadcrumb-item a {
    color: #000;

}

.article-container .faq-answer::before {
    content: "Answers: ";
    font-weight: bolder;
}



.article-container p {
    font-size: 18px;
    line-height: 1.8rem;
}

.article-container img {
    width: 90%;
    height: auto;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
}



.form-entry {
    background-color: #E1E2E1;

}

.form-entry row {
    margin: 0 auto;
}

.form-entry .btn-form {
    background-color: #283593;
    width: 80%;
    color: white;

}

.calculation-form {
    border-right: #283593 solid 1px;
    padding: 2px;
}

.related {
    background-color: #E1E2E1;
    color: #001064;
}

.related h2 {
    display: flex;
    color: #001064;
}

.related ul {
    list-style-type: none;
    display: inline-flex;
    width: 100%;
}

.related ul li {
    padding-right: 2%;
    align-items: center;
    justify-content: center;
}

.related ul li a {
    border-bottom: var(--color-dark-light) double 2px;
    padding-bottom: 3px;
    color: #001064;
}

.related ul li a:hover {
    text-decoration: none;

}

.related-first {
    font-weight: 700;
}