@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #0F1111;

}

/* Main Colors */
:root {
    --primary-color: #283593;
    --secondary-color: #3f51b5;
    --white-color: #fff;
    --bg-color: #f6fbff;
    --black-color: #000;

}

.bg-my {
    background-color: var(--bg-color);
}




/* Menubar CSS Codes  */
.menubar {
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
}

.menubar ul li {
    padding: 10px;
}

.navbar-icon {
    color: var(--white-color);
}

.menubar ul li a {
    padding: 10px;
    border: none;
}



/* here section */


.left-text h1 {
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--primary-color);
}

.left-text h2 {
    color: var(--white-color);
    text-transform: uppercase;
    background-color: var(--primary-color);
    padding: 5px 0;
    font-size: 18px;
}

.left-text p {
    text-align: left;
    font-size: 18px;
    line-height: 150%;
}

/* Calculator Starts */

.calc-card {
    border: var(--primary-color) solid 3px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.calc-display input[type="text"] {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
}

.btn-row {
    margin: 5px 5px 0px 5px;
}


.btn-row button {
    font-weight: bolder;
    color: var(--black-color)
}


.btn-row .btn:hover {
    background-color: var(--primary-color);
    color: var(--white-color) !important;
}

.btn-row .btn-ac {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn-row .btn-ac:hover {
    background-color: var(--primary-color);
}

/* Card of Why WE  */
.freeuse,
.easyuse {
    color: var(--color-dark-dark)
}

.feature-container h2 {
    font-weight: 700;
}


.feature-container h2 span {
    color: var(--primary-color);
}

/* Category Portion */
.category-icon i {
    padding: 20px;
    display: block;
    color: var(--primary-color);
}

.card-calculator-list {
    list-style: none;
    width: 100%;
}


.card-calculator-list li {
    padding: 3px 1px;
}

.card-calculator-list li i {
    color: var(--primary-color);
}


.card-calculator-list li a {
    text-decoration: none;
    font-weight: 400;
    padding: 3px;
    color: var(--black-color);
}

.card-calculator-list li a:hover {
    border-bottom: var(--secondary-color) 1px solid;
}

.category-card:nth-child(odd) .card {
    background-color: var(--bg-color);

}

.category-card .card {
    transition: box-shadow, 1s;
    margin-bottom: 20px;
}

.category-card .card:hover {
    box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.54);
}

.category-card .card-body .card-title {
    color: var(--primary-color);
    font-weight: 700;
    padding-bottom: 2px;
}

/*footer*/
.col_white_amrc {
    color: var(--white-color);
}

footer {
    width: 100%;
    background-color: var(--primary-color);
    min-height: 250px;
    padding: 10px 0px 25px 0px;
    margin-top: 5%;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: var(--white-color);
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: var(--white-color);
}

.footer_ul_amrc li a:hover {
    color: var(--white-color);
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
    color: var(--white-color);
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid var(--white-color);
    padding-bottom: 20px;
}



.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: var(--white-color);
    border: 1px solid var(--white-color);
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}


/* Single HTML */


.article__calculator {
    border: var(--primary-color) 2px double;
}

.article__calculator h2 {
    color: var(--secondary-color);
    font-weight: bold;
}

.article__calculator p {
    color: var(--primary-color);
}

.article__calcualtor,
.article__calcualtor input {
    color: var(--primary-color);
    font-weight: 700;
}

.article__calcualtor label a {
    color: var(--primary-color);
    font-weight: 400;
}

.article__calcualtor input,
.article__calcualtor input::placeholder {
    color: var(--primary-color);
    font-weight: 400;
}

.article__calcualtor_result table {
    color: var(--primary-color);
}



.article__calculator__header p {
    /* background-color: var(--secondary-color); */
    /* border: var(--secondary-color) 2px solid; */
    padding: 8px 0;
    color: var(--primary-color);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: var(--primary-color) 1px solid;

}





.article__share input:focus,
.form-control[readonly] {
    border: none;
    color: var(--primary-color);
    font-weight: 600;

}



.article__share input:focus {
    background-color: var(--bg-color);
    box-shadow: none;
    border: none;
}

.article__share .copy-btn {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.article__share .copy-btn:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
}


.article__button {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;

}

.article__button:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: none;

}

.metadata {
    font-size: 15px;
    color: var(--black-color)
}

/* Sidebar */
.search {
    font-weight: 700;
    color: var(--primary-color);
    border-radius: 8px;
    margin-bottom: 10px;
}

.search input,
.search input:focus {
    border: var(--primary-color) 1px solid;
    box-shadow: none;
    border-radius: 8px;
    color: var(--secondary-color);
}

.related-post {
    border-radius: 8px;
    margin-bottom: 10px;
}


.related-post h4 {
    color: var(--primary-color);
    font-weight: bold;
}

.related-post .list-group .list-group-item a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 400;
}




/* Admin Menu */


.admin-items,
.admin-items a,
.admin-items:hover,
.admin-items:active {
    color: var(--white-color) !important;
}

.admin-items ul {
    background-color: var(--primary-color);
}

.admin-items ul li a:hover {
    background-color: var(--secondary-color);
}

.admin-items-logout a {
    color: var(--primary-color);
    font-weight: 700;
    background-color: var(--white-color);
    border: var(--white-color) 1px solid;
    border-radius: 5px;

}

.admin-items-logout a:hover {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

/* All Author Page */
.admin-section h1 {
    font-size: 32px;
    font-weight: 800px;
    margin-bottom: 30px;
}

.admin-table img {
    width: 90px;
}

.dataTables_filter {
    margin-bottom: 13px !important;
}

#example_paginate a {
    background-color: var(--primary-color);
    margin-top: 2px !important;
    color: var(--white-color) !important;
}

#example_info {
    color: var(--primary-color);
}

/* Add Author Section */

.admin-btn {
    background-color: var(--secondary-color) !important;
    color: var(--white-color);
}

.btn-home-category {
    background-color: var(--secondary-color);
    color: var(--white-color)
}

.btn-home-category:hover {
    background-color: var(--primary-color);
    color: var(--white-color)
}