* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.menubar {
    background: rgb(19, 20, 46);
    background: linear-gradient(83deg, rgba(19, 20, 46, 1) 0%, rgba(27, 32, 140, 1) 100%);
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
}

.menubar ul li {
    padding: 10px;
}

.navbar-icon {
    color: white;
}

/* here section */

.hero {
    background-color: #cfe1ff;
}

.left-text h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    color: #1E155F;
}

.left-text h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1E155F;
    text-transform: uppercase;
    background-color: white;
    padding: 5px 0;
    font-size: 20px;
}

.left-text p {
    text-align: left;
    font-size: 18px;
    line-height: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Calculator Starts */

.calc-card {
    background-color: #CEE0FD;
    border: #1E155F solid 3px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.calc-display input[type="text"] {
    width: 100%;
    text-align: right;
    font-weight: bolder;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;

}

.btn-row {
    margin: 5px;
}

.btn-row button {
    font-weight: bolder;
    color: #1E155F;
}

.btn-ac {
    background-color: #1E155F;
    color: white !important;

}

.btn-ac:hover {
    background-color: red;
}

/* blockquote Container */

.feature {
    background-color: #101738;
    padding: 20px 0;
    color: #fff;
    font-size: 1.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(19, 20, 46);
    background: linear-gradient(83deg, rgba(19, 20, 46, 1) 0%, rgba(27, 32, 140, 1) 100%);

}

.feature blockquote::before,
.feature blockquote::after {
    content: "\"";
    font-size: 1.6em;
}


/* Card CSS */

.easyuse,
.reliableuse {
    background-color: #CFE1FF;
}

.freeuse {
    background-color: #819BF8;
}

.category-icon i {
    background-color: #191D73;
    border: 1px #191D73 solid;
    border-radius: 50%;
    padding: 20px;
    color: #fff;
}

.card-calculator-list {
    list-style: none;
    width: 100%;
}


.card-calculator-list li {
    padding: 3px 1px;
}

.card-calculator-list li i {
    color: #191D73;
}


.card-calculator-list li a {
    text-decoration: none;
    color: #191D73;
    font-weight: 700;
    padding: 3px;
    transition: border-bottom 0.5s;


}

.card-calculator-list li a:hover {
    border-bottom: 2px solid #191D73;
}